.nav_content {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.nav_right {
  margin-top: 20px;
}

.footer_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.main_content_container {
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 1920px;
  height: 200px;
  width: 100%;
  color: white;
}

.impressum_data_protection_container {
  padding: 30px;
  background-color: white;
}

.pokeball_loader {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball_loader img {
  width: 100%;
  height: auto;
  animation: rotatePokeball 1.2s linear infinite;
}

@keyframes rotatePokeball {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .nav_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
