.nav_content {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  display: flex;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.nav_right {
  margin: 0;
  margin-top: 9px;
  display: flex;
}

.footer_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.main_content_container {
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.impressum_data_protection_container {
  padding: 30px;
  background-color: white;
}

.pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.pokemon_card:hover {
  transform: scale(1.05);
}

.pokeball_loader {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pokeball_loader img {
  width: 100%;
  height: auto;
  animation: rotatePokeball 1.2s linear infinite;
}

@keyframes rotatePokeball {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.large_card_container {
  height: 400px;
  width: 280px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-top: 75px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 12;
  align-items: center;
}

.d_none {
  display: none;
}

.prev_next_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  width: 100%;
}

@media (max-width: 430px) {
  .nav_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_right {
    margin: 0;
  }
}
