.nav_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.nav_right {
  margin: 0;
  margin-top: 9px;
  display: flex;
}

.footer_content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(5px, 3vw, 40px);
  padding-right: clamp(5px, 3vw, 40px);
}

.main_content_container {
  margin-top: 80px;
  margin-bottom: 60px;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.impressum_data_protection_container {
  padding: 30px;
  background-color: white;
}

.pokemon_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 150px;
  margin: 15px clamp(1%, 2%, 3%);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.pokemon_card:hover {
  transform: scale(1.05);
}

.pokeball_loader {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border-radius: 50%;
  box-shadow: 0 0 50px 7px rgba(255, 0, 0, 0.612);
}

.pokeball_loader img {
  width: 100%;
  height: auto;
  animation: rotatePokeball 1.2s linear infinite;
}

@keyframes rotatePokeball {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.large_card_container {
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  z-index: 12;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.644);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.55);
}

.tab_header {
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin-top: -16px;
  margin-bottom: -13px;
  border-radius: 10px;
  padding: 5px;
  z-index: 15;
}

.large_card_content {
  background-image: url("./assets/imgs/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 266px;
  display: flex;
  flex-direction: column;
  z-index: 13;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 0px;
}

.large_card_tabs {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 145px;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding-bottom: 5px;
}

.bottom_part_card {
  margin-top: -30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 35px 6px 5px 6px;
  display: flex;
  flex-direction: column;
}

.large_card_tabs,
.prev_next_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8px;
}

.large_card_about_table {
  width: 240px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.large_card_stats_table {
  width: 240px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.stats_progress_bar_container {
  position: absolute;
  height: 2px;
  width: 200px;
  border-radius: 2px;
  background-color: rgb(219, 219, 219);
}

.stats_progress_bar {
  position: absolute;
  height: 2px;
  border-radius: 2px;
}

.little_type_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.prev_button,
.next_button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.prev_button {
  left: 10px;
}

.next_button {
  right: 10px;
}

.close_button {
  height: 20px;
  width: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 220px;
  margin-top: 8px;
}

.search_error_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.start_overlay {
  background-image: url("./assets/imgs/landscape2.png");
  background-size: cover;
  background-position: 0px -60px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 200px;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1.5px solid black;
}

.wrong_answer_container {
  background-image: url("./assets/imgs/pikachu1.png");
  background-size: cover;
  background-position: 0px -60px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 200px;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1.5px solid black;
}

.start_overlay_colors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
  margin-top: 30px;
}

.loading_spinner_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1000;
}

@media (max-width: 430px) {
  .nav_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_right {
    margin: 0;
  }
}
.d_none {
  display: none;
}

.d_none_two {
  display: none;
}

.d_none_three {
  display: none;
}
