h1 {
  text-align: center;
}

h5 {
  font-size: 1.1rem;
  margin-top: 5px;
}

h6 {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: -15px;
}

.footer_content p,
.footer_content a {
  color: rgb(0, 0, 0);
}

.nav_right input {
  height: 28px;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid darkblue;
  margin: 0;
}

.nav_right button {
  height: 28px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  margin: 0;
  background-color: darkblue;
  color: aliceblue;
}

.nav_right button:hover {
  background-color: rgb(2, 2, 223);
}

.impressum_data_protection_container h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.impressum_data_protection_container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
nav img {
  height: 45px;
  width: auto;
}

.pokemon_card p:first-child {
  font-size: 0.8rem;
  margin-top: 8px;
  margin-left: 10px;
  align-self: flex-start;
}

.pokemon_card img {
  width: 85%;
  height: auto;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.633));
  transition: 0.5s;
  margin-top: 10px;
}

.pokemon_card:hover img {
  transform: scale(1.05);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
}

.load_more_button {
  margin-bottom: 60px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  background-color: darkblue;
  color: aliceblue;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.441);
}

.load_more_button:hover {
  transform: scale(1.03);
  background-color: aliceblue;
  color: darkblue;
}

.pokemon_type p {
  text-align: center;
  margin: 0;
}

.large_card_type {
  margin-left: 10px;
}

.large_card_about_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.tab_button {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.active_tab {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.large_card_about_table td {
  line-height: 1.2;
  vertical-align: middle;
}

.large_card_about_table td:first-child {
  text-align: left;
  padding-left: 5px;
}

.large_card_about_table td:last-child {
  text-align: right;
  padding-right: 5px;
}

.large_card_stats_table td {
  line-height: 1;
  padding-bottom: 2px;
}

.large_card_stats_table td:first-child {
  text-align: left;
  padding-left: 5px;
}

.large_card_stats_table td:last-child {
  text-align: right;
  padding-right: 5px;
}

.large_card_image img {
  width: 60%;
  height: auto;
  margin-left: 70px;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.633));
  transform: translate(-22px, 0px);
}

.prev_next_buttons button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px 10px 10px 10px;
}

.prev_next_buttons img {
  height: 25px;
  width: auto;
}

.prev_next_buttons img:hover {
  transform: scale(1.1);
}

.sound_button img {
  height: 20px;
  margin-top: 3px;
}

.close_button img {
  height: 18px;
  width: auto;
}

.close_button img:hover {
  transform: scale(1.1);
}

.search_error_message button {
  width: 130px;
  height: 22px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  background-color: darkblue;
  color: aliceblue;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.441);
}

.search_error_message button:hover {
  transform: scale(1.03);
  background-color: aliceblue;
  color: darkblue;
}

.search_error_message p {
  font-size: 1.3rem;
}

@media (max-width: 430px) {
  nav img {
    height: 28px;
    width: auto;
  }

  .nav_right input {
    height: 20px;
    width: 80px;
  }

  .nav_right button {
    height: 20px;
  }
}
