h1 {
  text-align: center;
}

h5 {
  font-size: 1.1rem;
  margin-top: 5px;
}

.footer_content p,
.footer_content a {
  color: rgb(0, 0, 0);
}

.nav_right input {
  height: 28px;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid darkblue;
  margin: 0;
}

.nav_right button {
  height: 28px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  margin: 0;
  background-color: darkblue;
  color: aliceblue;
}

.nav_right button:hover {
  background-color: rgb(2, 2, 223);
  color: aliceblue;
}

.impressum_data_protection_container h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.impressum_data_protection_container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
nav img {
  height: 40px;
  width: auto;
}

.pokemon_card p:first-child {
  margin-top: 5px;
  margin-left: 5px;
  align-self: flex-start;
}

.pokemon_card img {
  width: 85%;
  height: auto;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.633));
  transition: 0.5s;
  margin-top: 10px;
}

.pokemon_card:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
}

.load_more_button {
  margin-bottom: 60px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  background-color: darkblue;
  color: aliceblue;
}

.load_more_button:hover {
  transform: scale(1.03);
  background-color: aliceblue;
  color: darkblue;
}

.pokemon_type {
  margin-top: 24px;
  position: relative;
  bottom: 10px;
}

@media (max-width: 430px) {
  nav img {
    height: 20px;
    width: auto;
  }

  .nav_right input {
    height: 22px;
  }

  .nav_right button {
    height: 22px;
  }
}
